callgrind.*
*.exe
inf-test-browser
inf-test-certificate-request
inf-test-certificate-validate
inf-test-chat
inf-test-chunk
inf-test-daemon
inf-test-gtk-browser
inf-test-mass-join
inf-test-reduce-replay
inf-test-set-acl
inf-test-state-vector
inf-test-tcp-connection
inf-test-tcp-server
inf-test-text-cleanup
inf-test-text-fixline
inf-test-text-operations
inf-test-text-quick-write
inf-test-text-recover
inf-test-text-replay
inf-test-text-session
inf-test-traffic-replay
inf-test-xmpp-connection
inf-test-xmpp-server
*.out
*.prof
