*.o
*.lo
.deps
.libs
Makefile
Makefile.in
libtool
ltmain.sh
*.pc
*.pem
config.log
config.sub
config.status
config.guess
missing
stamp-h1
stamp-h2
*.la
install-sh
gtk-doc.make
depcomp
configure
compile
aclocal.m4
autom4te.cache
*.swp
config.h
config.h.in
config.h.in~
infwc
inftodo
libinfinity-*.tar.bz2
libinfinity-*.tar.gz
mkinstalldirs
test-driver
ar-lib
