libinfinoted-plugin-manager-0.7-decl-list.txt
libinfinoted-plugin-manager-0.7-decl.txt
libinfinoted-plugin-manager-0.7-overrides.txt
libinfinoted-plugin-manager-0.7-undeclared.txt
libinfinoted-plugin-manager-0.7-undocumented.txt
libinfinoted-plugin-manager-0.7-unused.txt
libinfinoted-plugin-manager-0.7.args
libinfinoted-plugin-manager-0.7.hierarchy
libinfinoted-plugin-manager-0.7.interfaces
libinfinoted-plugin-manager-0.7.prerequisites
libinfinoted-plugin-manager-0.7-overrides.txt
libinfinoted-plugin-manager-0.7.signals
tmpl
*.bak
