libinftextgtk-0.5-decl-list.txt
libinftextgtk-0.5-decl.txt
libinftextgtk-0.5-undeclared.txt
libinftextgtk-0.5-undocumented.txt
libinftextgtk-0.5-unused.txt
libinftextgtk-0.5.args
libinftextgtk-0.5.hierarchy
libinftextgtk-0.5.interfaces
libinftextgtk-0.5.prerequisites
libinftextgtk-0.5.signals
tmpl
*.bak
