libinftextgtk-0.3-decl-list.txt
libinftextgtk-0.3-decl.txt
libinftextgtk-0.3-undeclared.txt
libinftextgtk-0.3-undocumented.txt
libinftextgtk-0.3-unused.txt
libinftextgtk-0.3.args
libinftextgtk-0.3.hierarchy
libinftextgtk-0.3.interfaces
libinftextgtk-0.3.prerequisites
libinftextgtk-0.3.signals
tmpl
*.bak
